<!-- header.html -->
<header>
    <div class="container">
        <div class="logo">
            <a href="index.html">ChalaFirale</a>
        </div>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="reserves.html">Explore Reserves</a></li>
                <li><a href="book_now.html">Book a Tour</a></li>
                <li><a href="about_us.html">About Us</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="register_login.html">Login</a></li>
            </ul>
        </nav>
    </div>
</header>
