<aside class="sidebar">
    <div class="sidebar-header">
        <h3>Explore Safari</h3>
        <button class="close-sidebar" onclick="toggleSidebar()">×</button>
    </div>
    <nav class="sidebar-nav">
        <ul>
            <li><a href="reserves.html">Tiger Reserves</a></li>
            <li><a href="book_now.html">Book a Tour</a></li>
            <li><a href="about_us.html">About Us</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
    <div class="sidebar-social">
        <a href="https://facebook.com" target="_blank">
            <img src="assets/icons/facebook.svg" alt="Facebook">
        </a>
        <a href="https://instagram.com" target="_blank">
            <img src="assets/icons/instagram.svg" alt="Instagram">
        </a>
        <a href="https://twitter.com" target="_blank">
            <img src="assets/icons/twitter.svg" alt="Twitter">
        </a>
    </div>
</aside>
